@font-face {
  font-family: 'Staatliches';
  src: url('../font/Staatliches-Regular.woff2') format('woff2'),
    url('../font/Staatliches-Regular.woff') format('woff'),
    url('../font/Staatliches-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
